/* Disable animations in IE versions prior to IE 10 */
.dslc-in-viewport-check {
	transform: none !important;
	opacity: 1 !important;
}

/* Fix image display in IE versions prior to IE 10 */
.dslc-image-container .dslc-image,
.dslc-image-container .dslc-image a {
	width: 100% !important;
}