.dslc-menu-label,
.dslc-action-label {
	display: inline-block;
	background: #9EA3A8;
	padding: 3px 4px;
	position: absolute;
	margin-left: 7px;
	margin-top: -7px;
	border-radius: 4px;
	font-size: 70%;
	font-weight: bold;
	color: #23282D;
	top: 50%;
	right: 10px;
	line-height: 1;
	box-shadow: 1px 1px 1px rgba(11, 12, 12, 0.51);
	opacity: .5;
}

.dslc-action-label {
	position: relative;
	right: auto;
	margin-right: 6px;
	margin-left: 3px;
	top: -1px;
	box-shadow: none;
	background: rgba(0, 0, 0, 0.15);
	opacity: .4;
}

.wp-submenu > li {
	position: relative;
}

/* Columns in checkbox lists on Template creation page */
#post-option-dslc_template_for .dslca-post-option-field {
	display: flex;
}

#post-option-dslc_template_for  .dslca-post-option-field-inner-wrapper {
	flex-grow: 1;
	flex-basis: 32%;
	padding-right: 5%;
}

.dslca-post-option-field-inner-wrapper .control-description {
	font-size: 12px;
	opacity: .75;
}

#post-option-dslc_template_base {
	display: none;
}

/* Hide annoying notifications from other plugins on our settings page. */
.toplevel_page_dslc_plugin_options #wpcontent .wrap .updated {
	display: none;
}