
.dslca-plugin-opts-list-wrap {

}
	
	.dslca-plugin-opts-notification {
		margin-top: 20px;
		border-left: 4px solid #5184bd;
		background: #fff;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		padding: 15px 10px;
	}

	.dslca-plugin-opts-list {
		width: 300px;
		margin-bottom: 10px;
	}

		.dslca-plugin-opts-list-item {
			display: block;
			padding: 7px 10px;
			border: 1px solid rgba( 0, 0, 0, 0.2 );
			border-radius: 3px;
			margin-bottom: 5px;
			position: relative;
			font-weight: bold;
		}

			.dslca-plugin-opts-list-delete-hook {
				position: absolute;
				right: 7px;
				top: 6px;
				font-size: 0.9em;
				font-weight: normal;
				font-style: italic;
			}

	.dslca-plugin-opts-list-error {
		display: none;
		color: rgb(219, 113, 113);
		margin-top: 15px;
		font-weight: bold;
	}

			