<div class="dslc-accordion" data-open="<%= open_by_default.value || open_by_default.std %>">

	<% accordion_slides.value.forEach(function(slide, index){%>
		<div class="dslc-accordion-item" data-array="dfgdfgdfg" data-wpquery="11method_in_accordion_php_wp_query">

			<div class="dslc-accordion-header dslc-accordion-hook">
				<span class="dslc-accordion-title" data-array-field="post_title" data-module-method="2post_title" data-wppost-field="post_title" data-exportable-content="h3">
					Some title
				</span>
			</div>

			<div class="dslc-accordion-content-wrapper" style="<%= open_by_default.value > -1 && open_by_default.value -1 == index ? 'display: block' : 'display: none' %>">
				<div class="dslc-accordion-content">
					<div data-wppost-field="post_content" data-array-field="post_content" data-exportable-content>
						Some content placeholder
					</div>

				</div><!-- .dslc-accordion-content -->
			</div><!-- .dslc-accordion-content-wrapper -->

		<!-- .dslc-accordion-item -->
		</div><%});%>