<% if(elements.value.indexOf('main_heading') > -1 || show_filters || show_carousel_arrows){%>
	<div class="dslc-module-heading">

		<!-- Heading -->

		<% if(elements.value.indexOf('main_heading') > -1){%>
			<h2 class="dslca-editable-content" data-id="main_heading_title" data-type="simple" contenteditable>
				<%= main_heading_title.value || main_heading_title.std %>
			</h2>
			<!-- View all -->

			<% if(obj.view_all_link && view_all_link.value !== ''){%>

				<span class="dslc-module-heading-view-all">
					<a href="<%= view_all_link.value %>" class="dslca-editable-content" data-id="main_heading_link_title" data-type="simple" contenteditable >
						<%= main_heading_link_title.value || main_heading_link_title.std %>
					</a>
				</span>
			<%}%>
		<%}%>


		<% if(show_filters == true){%>
			<!-- Filters -->
			<div class="dslc-post-filters">

				<span class="dslc-post-filter dslc-active" data-id="all">
					<?php _ex( 'All', 'Post Filter', 'live-composer-page-builder' ); ?>
				</span>

				<% cats_array.forEach(function(elem, index){%>
					<span class="dslc-post-filter dslc-inactive" data-repeatable="post_filter" data-id="<%= elem.cat_slug %>">
						<%= elem.cat_name %>
					</span>
				<%})%>

			</div><!-- .dslc-post-filters -->
		<%}%>

		<!-- Carousel -->

		<% if(show_carousel_arrows){%>
			<span class="dslc-carousel-nav fr">
				<span class="dslc-carousel-nav-inner">
					<a href="#" class="dslc-carousel-nav-prev"><span class="dslc-icon-chevron-left dslc-init-center"></span></a>
					<a href="#" class="dslc-carousel-nav-next"><span class="dslc-icon-chevron-right dslc-init-center"></span></a>
				</span>
			</span><!-- .carousel-nav -->
		<%}%>

	</div><!-- .dslc-module-heading -->

<%}%>

<div class="<%= container_class %>">
		<div class="dslc-posts-inner">

			<% if ( obj.type.value == 'carousel' ){%>

				<div class="dslc-loader"></div>
				<div class="dslc-carousel" data-stop-on-hover="<%= carousel_autoplay_hover.value %>" data-autoplay="<%= carousel_autoplay.value %>" data-columns="<%= carousel_items.value %>" data-pagination="<%= carousel_elements.value.circles == true ? 'true' : 'false' %>" data-slide-speed="<%= arrows_slide_speed.value %>" data-pagination-speed="<%= circles_slide_speed.value %>">
			<%}%>

			<% posts.forEach(function(elem, index){

				var last_col = type.value == 'grid' && index > 0 && (index + 1) % posts_per_row.value == 0 && separator_enabled.value != 'disabled' ? 'dslc-last-col' : '';
				%>
				<div class="<%= element_class + columns_class + extra_class %> <%= last_col %> {{dslc-module-sc module-method='extra_col_class'}} {{dslc-module-sc module-method='blog_post_categories'}}" data-repeatable="render_blog_posts">

					<% if(post_elements.value.indexOf('thumbnail') > -1){%>

						<div class="dslc-blog-post-thumb dslc-post-thumb dslc-on-hover-anim">

							<div data-module-method="blog_post_thumb">
								<div class="dslc-blog-post-thumb-inner dslca-post-thumb">

										<a href="{{dslc-module-sc module-method='blog_post_permalink'}}">
											<img width="100%" height=200 src="http://dummyimage.com/300x200/000/fff"/>
										</a>

								</div><!-- .dslc-cpt-post-thumb-inner -->
							</div>

							<% if((main_location.value == 'inside' || main_location.value == 'inside_visible')  &&
									(
									 	post_elements.value.indexOf('title') > -1 ||
									  	post_elements.value.indexOf('meta') > -1 ||
									  	post_elements.value.indexOf('excerpt') > -1 ||
									  	post_elements.value.indexOf('button') > -1
									)
								){%>

								<div class="dslc-post-main dslc-blog-post-main <%= main_location.value == 'inside_visible' ? 'dslc-cpt-post-main-visible' : '' %> dslc-on-hover-anim-target dslc-anim-<%= css_anim_hover.value %>" data-dslc-anim="<%= css_anim_hover.value %>" data-dslc-anim-speed="<%= css_anim_speed.value %>">

									<div class="dslc-blog-post-main-inner dslc-init-<%= main_position.value %>">

										<% if(post_elements.value.indexOf('title') > -1){%>

											<div class="dslc-blog-post-title">
												<h2>
													<a href="{{dslc-module-sc module-method='blog_post_permalink'}}" data-module-method="blog_post_title">Post title</a>
												</h2>
											</div><!-- .dslc-cpt-post-title -->

										<%}%>

										<% if(post_elements.value.indexOf('meta') > -1){%>

											<div class="dslc-blog-post-meta">

												<% if(meta_elements.value.indexOf('author') > -1){%>
													<div class="dslc-blog-post-meta-author" data-module-method="blog_author_posts_link">
														<a href="#" title="Posts by author" rel="author">Author</a>
													</div><!-- .dslc-cpt-post-meta-author -->
												<%}%>

												<% if(meta_elements.value.indexOf('date') > -1){%>
													<div class="dslc-blog-post-meta-date" data-module-method="blog_post_date">
														05/10/2016
													</div><!-- .dslc-cpt-post-meta-date -->
												<%}%>

											</div><!-- .dslc-cpt-post-meta -->
										<%}%>

										<% if(post_elements.value.indexOf('excerpt') > -1){%>

											<div class="dslc-blog-post-excerpt" data-module-method="blog_post_excerpt">
												Lorem ipsum dorem sit amet
											</div><!-- .dslc-cpt-post-excerpt -->

										<%}%>

										<% if(post_elements.value.indexOf('button') > -1){%>

											<div class="dslc-blog-post-read-more">
												<a href="{{dslc-module-sc module-method='blog_post_permalink'}}">

													<% if(obj.button_icon_id && obj.button_icon_id.value != '' ){%>
														<span class="dslc-icon dslc-icon-<%= button_icon_id.value %>"></span>
													<%}%>

													<%= button_text.value || button_text.std %>
												</a>
											</div><!-- .dslc-cpt-post-read-more -->
										<%}%>
									</div><!-- .dslc-cpt-post-main-inner -->
									<a href="{{dslc-module-sc module-method='blog_post_permalink'}}" class="dslc-post-main-inner-link-cover"></a>
								</div><!-- .dslc-cpt-post-main -->
							<%}%>
						</div><!-- .dslc-cpt-post-thumb -->
					<%}%>

					<% if(main_location.value == 'bellow' && (post_elements.value.indexOf('title') > -1 || post_elements.value.indexOf('meta') > -1 || post_elements.value.indexOf('excerpt') > -1 || post_elements.value.indexOf('button') > -1)){%>

						<div class="dslc-post-main dslc-blog-post-main">

							<% if(post_elements.value.indexOf('title') > -1){%>

								<div class="dslc-blog-post-title">
									<h2 class="lc-editor-elem"><a href="{{dslc-module-sc module-method='blog_post_permalink'}}" data-module-method="blog_post_title">Title</a></h2>
								</div><!-- .dslc-cpt-post-title -->
							<%}%>

							<% if(post_elements.value.indexOf('meta') > -1){%>

								<div class="dslc-blog-post-meta">

									<% if(meta_elements.value.indexOf('author') > -1){%>
										<div class="dslc-blog-post-meta-author" data-module-method="blog_author_posts_link">
											 <a href="#" title="Posts by author" rel="author">Author</a>
										</div><!-- .dslc-cpt-post-meta-author -->
									<%}%>

									<% if(meta_elements.value.indexOf('date') > -1){%>
										<div class="dslc-blog-post-meta-date" data-module-method="blog_post_date">
											12/06/2016
										</div><!-- .dslc-cpt-post-meta-date -->
									<%}%>
								</div><!-- .dslc-cpt-post-meta -->
							<%}%>

							<% if(post_elements.value.indexOf('excerpt') > -1){%>

								<div class="dslc-blog-post-excerpt" data-module-method="blog_post_excerpt">
									Lorem ipsum dorem sit amet
								</div><!-- .dslc-cpt-post-excerpt -->
							<%}%>

							<% if(post_elements.value.indexOf('button') > -1){%>

								<div class="dslc-blog-post-read-more">
									<a href="{{dslc-module-sc module-method='blog_post_permalink'}}">
										<% if(button_icon_id.value != '' ){%>
											<span class="dslc-icon dslc-icon-<%= button_icon_id.value %>"></span>
										<%}%>
										<%= button_text.value || button_text.std %>
									</a>
								</div><!-- .dslc-blog-post-read-more -->
							<%}%>
						</div><!-- .blog-post-main -->

						<% if(post_elements.value.indexOf( 'social' ) > -1 ){%>

							<?php $share_info = dslc_get_social_count(); ?>

							<div class="dslc-posts-social-share">


								<% if(social_elements.value.indexOf('facebook') > -1 ){%>
									<div class="dslc-inline-block" data-module-method="share_info_fb"></div>
									<a href="#" class="lc-editor-element" target="_blank">
										<span class="dslc-icon dslc-icon-facebook"></span>
										<span class="dslc-posts-social-share-count">43</span>
									</a>
								<%}%>

								<% if(social_elements.value.indexOf( 'twitter' ) ){%>
									<div class="dslc-inline-block" data-module-method="share_info_tw"></div>
									<a href="#" class="lc-editor-element">
										<span class="dslc-icon dslc-icon-twitter"></span>
										<span class="dslc-posts-social-share-count">20</span>
									</a>
								<%}%>

								<% if(social_elements.value.indexOf( 'pinterest' ) ){%>
									<div class="dslc-inline-block" data-module-method="share_info_pt"></div>
									<a href="#" class="lc-editor-element">
										<span class="dslc-icon dslc-icon-pinterest"></span>
										<span class="dslc-posts-social-share-count">13</span>
									</a>
								<%}%>

							</div><!-- .dslc-posts-social-share -->
						<%}%>
					<%}%>
					<!-- .dslc-blog-post -->
				</div>

				<% if(last_col != ''){%>
					<div class="dslc-post-separator lc-editor-element"></div>
				<%}%>
			<%});%>
			<% if(type.value == 'carousel'){%>
				</div>
			<%}%>
		</div><!--.dslc-posts-inner -->
	</div><!-- .dslc-cpt-posts -->

<% if(pagination_type.value && pagination_type.value != 'disabled'){%>
	<div data-module-method="blog_pagination_nav"></div>
	<div class="dslc-pagination dslc-pagination-type-<%= pagination_type.value %> lc-editor-element">
		<ul class="dslc-clearfix">
			<% if(pagination_type.value == 'numbered'){%>
				<li class="dslc-active"><a href="#">1</a></li>
				<li class="dslc-inactive"><a class="inactive" href="#">2</a></li>
			<%}%>

			<% if(pagination_type.value == 'prevnext'){%>
				<li class="dslc-active dslc-fr"><a href="#">Older</a></li>
				<li class="dslc-inactive dslc-fl"><a href="#" class="">Newer</a></li>
			<%}%>

			<% if(pagination_type.value == 'loadmore'){%>
				<li class="dslc-pagination-load-more dslc-active">
					<a href="#">
						<span class="dslc-icon dslc-icon-refresh"></span>LOAD MORE ITEMS
					</a>
				</li>
			<%}%>
		</ul>
	</div>
<%}%>