<% obj.wooc_ex = <?php echo class_exists( 'Woocommerce' ) ? 'true' : 'false' ?>; %>
<% if(!obj.wooc_ex){%>
	<div class="dslc-notification dslc-red"><?php _e( 'You do not have WooCommerce installed at the moment. You need to install it to use this module.', 'live-composer-page-builder' ); ?></span></div>
<%
return __p;}%>
<% obj.prod_inner = function(){%>
<% if(post_elements.value.indexOf('title') > -1){%>

		<div class="dslc-product-title dslc-clearfix">
			<% if(post_elements.value.indexOf('price_2') > -1){%>
				<span class="dslc-product-price-secondary" data-module-method="sec_price">
					<del>
						<span class="amount">£11,111.00</span>
					</del>
					<ins>
						<span class="amount">£55.00</span>
					</ins>
				</span>
			<%}%>
			<h2>
				<a href="{{dslc-module-sc module-method='permalink'}}" data-module-method="post_title">Post title</a>
			</h2>
		</div><!-- .dslc-product-title -->

	<%}%>

	<% if(post_elements.value.indexOf('separator') > -1){%>

		<span class="dslc-product-sep"></span>

	<%}%>

	<% if(post_elements.value.indexOf('excerpt') > -1){%>

		<div class="dslc-product-excerpt" data-module-method="excerpt">
			Lorem ipsum dorem sit amet
		</div><!-- .dslc-product-excerpt -->

	<%}%>

	<div class="dslc-product-extra dslc-clearfix">

		<% if(post_elements.value.indexOf('addtocart') > -1 ){%>
			<div class="dslc-display-inline" data-module-method="add_to_cart">
				<a href="/wp-admin/admin-ajax.php?add-to-cart=2092" class="dslc-product-add-to-cart"><span class="dslc-icon dslc-icon-shopping-cart"></span><%= addtocart_text.value || addtocart_text.std %></a>
			</div>
		<%}%>

		<% if(post_elements.value.indexOf('details')){%>
			<div class="dslc-display-inline">
				<a href="{{dslc-module-sc module-method='permalink'}}" class="dslc-product-details">
					<span class="dslc-icon dslc-icon-file-text"></span><%= details_text.value || details_text.std %>
				</a>
			</div>
		<%}%>

	</div><!-- .dslc-product-extra -->
<%}

if(elements.value.indexOf('main_heading') > -1 || show_filters || show_carousel_arrows){%>
	<div class="dslc-module-heading">

		<!-- Heading -->

		<% if(elements.value.indexOf('main_heading') > -1){%>
			<h2 class="dslca-editable-content" data-id="main_heading_title" data-type="simple" contenteditable>
				<%= main_heading_title.value || main_heading_title.std %>
			</h2>
			<!-- View all -->

			<% if(obj.view_all_link && view_all_link.value !== ''){%>

				<span class="dslc-module-heading-view-all">
					<a href="<%= view_all_link.value %>" class="dslca-editable-content" data-id="main_heading_link_title" data-type="simple" contenteditable >
						<%= main_heading_link_title.value || main_heading_link_title.std %>
					</a>
				</span>
			<%}%>
		<%}%>


		<% if(show_filters == true){%>
			<!-- Filters -->
			<div class="dslc-post-filters dslca-wooc-module">

				<span class="dslc-post-filter dslca-wooc-module dslc-active" data-id="all">
					<?php _ex( 'All', 'Products filter', 'live-composer-page-builder' ); ?>
				</span>

				<% cats_array.forEach(function(elem, index){%>
					<span class="dslc-post-filter dslca-wooc-module dslc-inactive" data-repeatable="wooc_filter" data-id="<%= elem.cat_slug %>">
						<%= elem.cat_name %>
					</span>
				<%})%>

			</div><!-- .dslc-post-filters -->
		<%}%>

		<!-- Carousel -->

		<% if(show_carousel_arrows){%>
			<span class="dslc-carousel-nav fr">
				<span class="dslc-carousel-nav-inner">
					<a href="#" class="dslc-carousel-nav-prev"><span class="dslc-icon-chevron-left dslc-init-center"></span></a>
					<a href="#" class="dslc-carousel-nav-next"><span class="dslc-icon-chevron-right dslc-init-center"></span></a>
				</span>
			</span><!-- .carousel-nav -->
		<%}%>

	</div><!-- .dslc-module-heading -->

<%}%>

<div class="<%= container_class %>">
		<div class="dslc-posts-inner">

			<% if ( obj.type.value == 'carousel' ){%>

				<div class="dslc-loader"></div>
				<div class="dslc-carousel gallery-slider" data-stop-on-hover="<%= carousel_autoplay_hover.value || carousel_autoplay_hover.std %>" data-autoplay="<%= carousel_autoplay.value || carousel_autoplay.std %>" data-columns="<%= posts_per_row.value || posts_per_row.std %>" data-pagination="<%= (carousel_elements.value.indexOf('circles') > - 1) == true ? 'true' : 'false' %>" data-slide-speed="<%= arrows_slide_speed.value || arrows_slide_speed.std %>" data-pagination-speed="<%= circles_slide_speed.value || circles_slide_speed.std %>">
			<%}%>

			<% posts.forEach(function(elem, index){

				var last_col = type.value == 'grid' && index > 0 && (index + 1) % posts_per_row.value == 0 && separator_enabled.value != 'disabled' ? 'dslc-last-col' : '';
				%>
				<div class="<%= element_class + columns_class + extra_class %> <%= last_col %> {{dslc-module-sc module-method='extra_col_class'}} {{dslc-module-sc module-method='wooc_categories'}}" data-repeatable="render_wooc">

					<% if(post_elements.value.indexOf('thumbnail') > -1){%>

						<div class="dslc-post-thumb dslc-product-thumb dslc-on-hover-anim">

							<div class="dslc-product-thumb-inner dslca-post-thumb">

								<div class="dslc-display-inline" data-module-method="post_thumb">
									<a href="{{dslc-module-sc module-method='permalink'}}">
										<img width="100%" height=200 src="http://dummyimage.com/300x200/000/fff"/>
									</a>
								</div>

								<div class="dslc-display-inline" data-module-method="post_price">
									<a href="#" class="dslc-product-price dslc-init-square dslc-init-center">
										<span class="dslc-product-price-bg"></span>
										<span class="dslc-product-price-main">
											<del>
												<span class="amount">£145.00</span>
											</del>
											<ins>
												<span class="amount">£100.00</span>
											</ins>
										</span>
									</a>
								</div>

							</div><!-- .dslc-product-thumb-inner -->

							<% if((main_location.value == 'inside' || main_location.value == 'inside_visible')  &&
									(
									 	post_elements.value.indexOf('title') > -1 ||
									  	post_elements.value.indexOf('excerpt') > -1 ||
									  	post_elements.value.indexOf('addtocart') > -1 ||
									  	post_elements.value.indexOf('details') > -1
									)
								){%>

								<div class="dslc-post-main dslc-product-main <%= main_location.value == 'inside_visible' ? 'dslc-product-main-visible' : '' %> dslc-on-hover-anim-target dslc-anim-<%= css_anim_hover.value %>" data-dslc-anim="<%= css_anim_hover.value %>" data-dslc-anim-speed="<%= css_anim_speed.value %>">

									<div class="dslc-product-main-inner dslc-init-<%= main_position.value %>">

											<% obj.prod_inner() %>

									</div><!-- .dslc-product-main-inner -->

									<a href="{{dslc-module-sc module-method='permalink'}}" class="dslc-post-main-inner-link-cover"></a>
								</div><!-- .dslc-product-main -->
							<%}%>
						</div><!-- .dslc-product-thumb -->
					<%}%>

					<% if(main_location.value == 'bellow' && (
							post_elements.value.indexOf('title') > -1 ||
							post_elements.value.indexOf('excerpt') > -1 ||
							post_elements.value.indexOf('addtocart') > -1 ||
							post_elements.value.indexOf('details') > -1
							)
						){%>

						<div class="dslc-post-main dslc-product-main">

							<% obj.prod_inner() %>

						</div><!-- .dslc-product-main -->
					<%}%>
					<!-- .dslc-product -->
				</div>

				<% if(last_col != ''){%>
					<div class="dslc-post-separator lc-editor-element"></div>
				<%}%>
			<%});%>
			<% if(type.value == 'carousel'){%>
				</div>
			<%}%>
		</div><!--.dslc-posts-inner -->
	</div><!-- .dslc-products -->

<% if(pagination_type.value && pagination_type.value != 'disabled'){%>
	<div data-module-method="pagination_nav"></div>

	<div class="dslc-pagination dslc-pagination-type-<%= pagination_type.value %> lc-editor-element">
		<ul class="dslc-clearfix">
			<% if(pagination_type.value == 'numbered'){%>
				<li class="dslc-active"><a href="#">1</a></li>
				<li class="dslc-inactive"><a class="inactive" href="#">2</a></li>
			<%}%>

			<% if(pagination_type.value == 'prevnext'){%>
				<li class="dslc-inactive dslc-fl"><a href="#">Newer</a></li>
				<li class="dslc-active dslc-fr"><a href="#">Older</a></li>
			<%}%>

			<% if(pagination_type.value == 'loadmore'){%>
				<li class="dslc-pagination-load-more dslc-active">
					<a href="#">
						<span class="dslc-icon dslc-icon-refresh"></span>LOAD MORE ITEMS
					</a>
				</li>
			<%}%>
		</ul>
	</div>
<%}%>