<div class="dslc-accordion" data-open="<%= open_by_default.value || open_by_default.std %>">

	<% accordion_slides.value.forEach(function(slide, index){%>

		<div class="dslc-accordion-item">

			<div class="dslc-accordion-header dslc-accordion-hook">
				<span class="dslc-accordion-title dslca-editable-content" contenteditable data-id="accordion-title">
					<%= slide.title %>
				</span>

				<div class="dslca-accordion-action-hooks lc-editor-element">
					<span class="dslca-move-up-accordion-hook"><span class="dslca-icon dslc-icon-arrow-up"></span></span>
					<span class="dslca-move-down-accordion-hook"><span class="dslca-icon dslc-icon-arrow-down"></span></span>
					<span class="dslca-delete-accordion-hook"><span class="dslca-icon dslc-icon-remove"></span></span>
				</div>
			</div>

			<div class="dslc-accordion-content-wrapper" style="<%= open_by_default.value > -1 && open_by_default.value -1 == index ? 'display: block' : 'display: none' %>">
				<div class="dslc-accordion-content">
					<div class="dslca-editable-content" contenteditable inline-editor data-id="accordion-content">
						<%= slide.content %>
					</div>

					<div class="dslca-wysiwyg-actions-edit lc-editor-element">
						<span class="dslca-wysiwyg-actions-edit-hook">
							<?php _e( 'Edit Content', 'live-composer-page-builder' ); ?>
						</span>
					</div>

				</div><!-- .dslc-accordion-content -->
			</div><!-- .dslc-accordion-content-wrapper -->

		</div><!-- .dslc-accordion-item -->

	<%});%>

	<div class="dslca-add-accordion lc-editor-element">
		<span class="dslca-add-accordion-hook"><span class="dslc-center-elem dslca-icon dslc-icon-plus"></span></span>
	</div>