<% if(elements.show_header){%>
	<div class="dslc-module-heading">

		<!-- Heading -->

		<% if(show_heading){%>

			<h2 class="dslca-editable-content" data-id="main_heading_title" data-type="simple" contenteditable><%= main_heading_title.value %></h2>
			<!-- View all -->

			<% if(obj.view_all_link && view_all_link.value !== ''){%>

				<span class="dslc-module-heading-view-all"><a href="<%= view_all_link.value %>" class="dslca-editable-content" data-id="main_heading_link_title" data-type="simple" contenteditable ><%= main_heading_link_title.value %></a></span>

			<%}%>

		<%}%>


			<% if(show_filters.value == true){%>
				<!-- Filters -->
				<div class="dslc-post-filters">

					<span class="dslc-post-filter dslc-active" data-id=" "><?php _ex( 'All', 'Post Filter', 'live-composer-page-builder' ); ?></span>

					<% cats_array.forEach(function(elem, index){%>
						<span class="dslc-post-filter dslc-inactive" data-id="<%= elem.cat_slug %>"><%= elem.cat_name %></span>
					<%})%>

				</div><!-- .dslc-post-filters -->
			<%}%>

		<!-- Carousel -->

		<% if ( elements.show_carousel_arrows ){ %>
			<span class="dslc-carousel-nav fr">
				<span class="dslc-carousel-nav-inner">
					<a href="#" class="dslc-carousel-nav-prev"><span class="dslc-icon-chevron-left dslc-init-center"></span></a>
					<a href="#" class="dslc-carousel-nav-next"><span class="dslc-icon-chevron-right dslc-init-center"></span></a>
				</span>
			</span><!-- .carousel-nav -->
		<%}%>

	</div><!-- .dslc-module-heading -->

<%}%>

		/**
		 * Posts ( output )
		 */

			if ( $dslc_query->have_posts() ) {

				?><div class="<%= container_class %>">
					<div class="dslc-posts-inner">

						<% if ( obj.type.value == 'carousel' ){%>

							?>
							<div class="dslc-loader"></div>
							<div class="dslc-carousel" data-stop-on-hover="<%= carousel_autoplay_hover.value %>" data-autoplay="<%= carousel_autoplay.value %>" data-columns="<%= carousel_items.value %>" data-pagination="<%= carousel_elements.value.circles == true ? 'true' : 'false' %>" data-slide-speed="<%= arrows_slide_speed.value %>" data-pagination-speed="<%= circles_slide_speed.value %>">

						<%}%>

						while ( $dslc_query->have_posts() ) : $dslc_query->the_post(); $count += $increment; $real_count++;

							if ( $count == $max_count ) {
								$count = 0;
								$extra_class = ' dslc-last-col';
							} elseif ( $count == $increment ) {
								$extra_class = ' dslc-first-col';
							} else {
								$extra_class = '';
							}

							if ( ! has_post_thumbnail() )
								$extra_class .= ' dslc-post-no-thumb';

							$post_cats_data = '';
							if ( isset( $taxonomy_name ) ) {
								$post_cats = get_the_terms( get_the_ID(), $taxonomy_name );
								if ( ! empty( $post_cats ) ) {
									foreach( $post_cats as $post_cat ) {
										$post_cats_data .= $post_cat->slug . ' ';
									}
								}
							}

							?>

							<div class="<?php echo $element_class . $columns_class . $extra_class; ?>" data-cats="<?php echo $post_cats_data; ?>">

								<?php if ( $post_elements == 'all' || in_array( 'thumbnail', $post_elements ) ) : ?>

									<?php
										/**
										 * Manual Resize
										 */

										$manual_resize = false;
										if ( isset( $options['thumb_resize_height'] ) && ! empty( $options['thumb_resize_height'] ) || isset( $options['thumb_resize_width_manual'] ) && ! empty( $options['thumb_resize_width_manual'] ) ) {

											$manual_resize = true;
											$thumb_url = wp_get_attachment_image_src( get_post_thumbnail_id(), 'full' );
											$thumb_url = $thumb_url[0];

											$thumb_alt = get_post_meta( get_post_thumbnail_id(), '_wp_attachment_image_alt', true );
											if ( ! $thumb_alt ) $thumb_alt = '';

											$resize_width = false;
											$resize_height = false;

											if ( isset( $options['thumb_resize_width_manual'] ) && ! empty( $options['thumb_resize_width_manual'] ) ) {
												$resize_width = $options['thumb_resize_width_manual'];
											}

											if ( isset( $options['thumb_resize_height'] ) && ! empty( $options['thumb_resize_height'] ) ) {
												$resize_height = $options['thumb_resize_height'];
											}

										}
									?>

									<?php if ( has_post_thumbnail() ) : ?>

										<div class="dslc-post-thumb dslc-cpt-post-thumb dslc-on-hover-anim">

											<div class="dslc-cpt-post-thumb-inner dslca-post-thumb">
												<?php if ( $manual_resize ) : ?>
													<a href="<?php the_permalink(); ?>"><img src="<?php $res_img = dslc_aq_resize( $thumb_url, $resize_width, $resize_height, true ); echo $res_img; ?>" alt="<?php echo $thumb_alt; ?>" /></a>
												<?php else : ?>
													<a href="<?php the_permalink(); ?>"><?php the_post_thumbnail( 'full' ); ?></a>
												<?php endif; ?>
											</div><!-- .dslc-cpt-post-thumb-inner -->

											<?php if ( ( $options['main_location'] == 'inside' || $options['main_location'] == 'inside_visible' ) && ( $post_elements == 'all' || in_array( 'title', $post_elements ) || in_array( 'meta', $post_elements ) || in_array( 'excerpt', $post_elements ) || in_array( 'button', $post_elements ) ) ) : ?>

												<div class="dslc-post-main dslc-cpt-post-main <?php if ( $options['main_location'] == 'inside_visible' ) echo 'dslc-cpt-post-main-visible'; ?> dslc-on-hover-anim-target dslc-anim-<?php echo $options['css_anim_hover']; ?>" data-dslc-anim="<?php echo $options['css_anim_hover'] ?>" data-dslc-anim-speed="<?php echo $options['css_anim_speed']; ?>">

													<div class="dslc-cpt-post-main-inner dslc-init-<?php echo $options['main_position']; ?>">

														<?php if ( $post_elements == 'all' || in_array( 'title', $post_elements ) ) : ?>

															<div class="dslc-cpt-post-title">
																<h2><a href="<?php the_permalink(); ?>"><?php the_title(); ?></a></h2>
															</div><!-- .dslc-cpt-post-title -->

														<?php endif; ?>

														<?php if ( $post_elements == 'all' || in_array( 'meta', $post_elements ) ) : ?>

															<?php
																// Meta Elements
																$meta_elements = $options['meta_elements'];
																$meta_elements = explode( ' ', trim( $meta_elements ) );
															?>

															<div class="dslc-cpt-post-meta">

																<?php if ( in_array( 'author', $meta_elements ) ) : ?>
																	<div class="dslc-cpt-post-meta-author">
																		<?php _e( 'By', 'live-composer-page-builder'); ?> <?php the_author_posts_link(); ?>
																	</div><!-- .dslc-cpt-post-meta-author -->
																<?php endif; ?>

																<?php if ( in_array( 'date', $meta_elements ) ) : ?>
																	<div class="dslc-cpt-post-meta-date">
																		<?php the_time( get_option( 'date_format' ) ); ?>
																	</div><!-- .dslc-cpt-post-meta-date -->
																<?php endif; ?>

															</div><!-- .dslc-cpt-post-meta -->

														<?php endif; ?>

														<?php if ( $post_elements == 'all' || in_array( 'excerpt', $post_elements ) ) : ?>

															<div class="dslc-cpt-post-excerpt">
																<?php if ( $options['excerpt_or_content'] == 'content' ) : ?>
																	<?php the_content(); ?>
																<?php else : ?>
																	<?php
																		if ( $options['excerpt_length'] > 0 ) {
																			if ( has_excerpt() )
																				echo do_shortcode( wp_trim_words( get_the_excerpt(), $options['excerpt_length'] ) );
																			else
																				echo do_shortcode( wp_trim_words( get_the_content(), $options['excerpt_length'] ) );
																		} else {
																			if ( has_excerpt() )
																				echo do_shortcode( get_the_excerpt() );
																			else
																				echo do_shortcode( get_the_content() );
																		}
																	?>
																<?php endif; ?>
															</div><!-- .dslc-cpt-post-excerpt -->

														<?php endif; ?>

														<?php if ( $post_elements == 'all' || in_array( 'button', $post_elements ) ) : ?>

															<div class="dslc-cpt-post-read-more">
																<a href="<?php the_permalink(); ?>">
																	<?php if ( isset( $options['button_icon_id'] ) && $options['button_icon_id'] != '' ) : ?>
																		<span class="dslc-icon dslc-icon-<?php echo $options['button_icon_id']; ?>"></span>
																	<?php endif; ?>
																	<?php echo $options['button_text']; ?>
																</a>
															</div><!-- .dslc-cpt-post-read-more -->

														<?php endif; ?>

													</div><!-- .dslc-cpt-post-main-inner -->

													<a href="<?php the_permalink(); ?>" class="dslc-post-main-inner-link-cover"></a>

												</div><!-- .dslc-cpt-post-main -->

											<?php endif; ?>

										</div><!-- .dslc-cpt-post-thumb -->

									<?php endif; ?>

								<?php endif; ?>

								<?php if ( $options['main_location'] == 'bellow' && ( $post_elements == 'all' || in_array( 'title', $post_elements ) || in_array( 'meta', $post_elements ) || in_array( 'excerpt', $post_elements ) || in_array( 'button', $post_elements ) ) ) : ?>

									<div class="dslc-post-main dslc-cpt-post-main">

										<?php if ( $post_elements == 'all' || in_array( 'title', $post_elements ) ) : ?>

											<div class="dslc-cpt-post-title">
												<h2><a href="<?php the_permalink(); ?>"><?php the_title(); ?></a></h2>
											</div><!-- .dslc-cpt-post-title -->

										<?php endif; ?>

										<?php if ( $post_elements == 'all' || in_array( 'meta', $post_elements ) ) : ?>

											<?php
												// Meta Elements
												$meta_elements = $options['meta_elements'];
												$meta_elements = explode( ' ', trim( $meta_elements ) );
											?>

											<div class="dslc-cpt-post-meta">

												<?php if ( in_array( 'author', $meta_elements ) ) : ?>
													<div class="dslc-cpt-post-meta-author">
														<?php _e( 'By', 'live-composer-page-builder'); ?> <?php the_author_posts_link(); ?>
													</div><!-- .dslc-cpt-post-meta-author -->
												<?php endif; ?>

												<?php if ( in_array( 'date', $meta_elements ) ) : ?>
													<div class="dslc-cpt-post-meta-date">
														<?php the_time( get_option( 'date_format' ) ); ?>
													</div><!-- .dslc-cpt-post-meta-date -->
												<?php endif; ?>

											</div><!-- .dslc-cpt-post-meta -->

										<?php endif; ?>

										<?php if ( $post_elements == 'all' || in_array( 'excerpt', $post_elements ) ) : ?>

											<div class="dslc-cpt-post-excerpt">
												<?php if ( $options['excerpt_or_content'] == 'content' ) : ?>
													<?php the_content(); ?>
												<?php else : ?>
													<?php
														if ( $options['excerpt_length'] > 0 ) {
															if ( has_excerpt() )
																echo do_shortcode( wp_trim_words( get_the_excerpt(), $options['excerpt_length'] ) );
															else
																echo do_shortcode( wp_trim_words( get_the_content(), $options['excerpt_length'] ) );
														} else {
															if ( has_excerpt() )
																echo do_shortcode( get_the_excerpt() );
															else
																echo do_shortcode( get_the_content() );
														}
													?>
												<?php endif; ?>
											</div><!-- .dslc-cpt-post-excerpt -->

										<?php endif; ?>

										<?php if ( $post_elements == 'all' || in_array( 'button', $post_elements ) ) : ?>

											<div class="dslc-cpt-post-read-more">
												<a href="<?php the_permalink(); ?>">
													<?php if ( isset( $options['button_icon_id'] ) && $options['button_icon_id'] != '' ) : ?>
														<span class="dslc-icon dslc-icon-<?php echo $options['button_icon_id']; ?>"></span>
													<?php endif; ?>
													<?php echo $options['button_text']; ?>
												</a>
											</div><!-- .dslc-cpt-post-read-more -->

										<?php endif; ?>

									</div><!-- .dslc-cpt-post-main -->

								<?php endif; ?>

							</div><!-- .dslc-cpt-post -->

							<?php

							// Row Separator
							if ( $options['type'] == 'grid' && $count == 0 && $real_count != $dslc_query->found_posts && $real_count != $options['amount'] && $options['separator_enabled'] == 'enabled' )
								echo '<div class="dslc-post-separator"></div>';

						endwhile;

						if ( $options['type'] == 'carousel' ) :

							?></div><?php

						endif;

					?></div><!--.dslc-posts-inner --><?php

				?></div><!-- .dslc-cpt-posts --><?php

			} else {

				if ( $dslc_is_admin ) :
					?><div class="dslc-notification dslc-red"><?php _e( 'You do not have any posts of that post type at the moment.', 'live-composer-page-builder' ); ?> <span class="dslca-refresh-module-hook dslc-icon dslc-icon-refresh"></span></span></div><?php
				endif;

			}

		/**
		 * Pagination
		 */

			if ( isset( $options['pagination_type'] ) && $options['pagination_type'] != 'disabled' ) {
				$num_pages = $dslc_query->max_num_pages;
				if ( $options['offset'] > 0 ) {
					$num_pages = ceil ( ( $dslc_query->found_posts - $options['offset'] ) / $options['amount'] );
				}
				dslc_post_pagination( array( 'pages' => $num_pages, 'type' => $options['pagination_type'] ) );
			}