<div class="dslca-module-edit-field-font-wrapper">
	<input type="text" class="dslca-module-edit-field dslca-module-edit-field-font" name="<%= id %>" data-id="<%= id %>" value="<%= obj.value || std %>" <%= obj.affect_on_change_append %> />
	<span class="dslca-module-edit-field-font-suggest"></span>
</div>
<span class="dslca-options-iconbutton dslca-module-edit-field-font-prev"><span class="dslca-icon dslc-icon-chevron-left"></span></span>
<span class="dslca-options-iconbutton dslca-module-edit-field-font-next"><span class="dslca-icon dslc-icon-chevron-right"></span></span>