<div class="dslca-module-edit-option dslca-module-edit-option-<%=module_option['type']%> dslca-module-edit-option-<%=module_option['id']%> <% if(!visibility){%> <%='dslca-module-edit-option-hidden'%> <%}%>" data-id="<%=module_option['id']%>" data-refresh-on-change="<%=refresh_on_change%>" data-section="<%=section%>" data-tab="<%=tab_ID%>">

 <%= module_option['label'] %>
	<% if (module_option['type'] == 'icon' ){%>
	
		<span class="dslca-module-edit-field-icon-ttip-hook"><span class="dslca-icon dslc-icon-info"></span></span>
		<span class="dslca-module-edit-field-icon-switch-set"><span class="dslca-module-edit-field-icon-curr-set"><%= curr_value %></span><span class="dslca-icon dslc-icon-cog"></span></span>
	<%}%>
	<% if(isset(module_option['help'])){%>
		<span class="dslca-module-edit-field-ttip-hook"><span class="dslca-icon dslc-icon-info"></span></span>
	<% endif; %>
</div>