.dslc-info-box {
    tab: Infobox;
    text-align: center;
    border: 0px solid #000000;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    box-shadow: ;
}
.dslc-info-box:hover {
    tab: Infobox;
    label: hover;
    box-shadow: ;
}
.dslc-info-box-main-wrap {
    tab: wrapper;
    label: Main wrap;
    max-width: 100%;
}
.dslc-info-box-wrapper {
    tab: wrapper;
    border: 0px solid #ccc;
    border-radius: 0px;
    padding: 0px;
}
.dslc-info-box-image {
    tab: Image;
    text-align: inherit;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
}
.dslc-info-box:hover .dslc-info-box-image-alt-inner img {
    tab: Alt inner;
    box-shadow: ;
}
.dslc-info-box-image-inner {
    tab: Image;
    label: Image inner;
    border: 0px solid #ccc;
    border-radius: 100px;
    width: 84px;
    height: 84px;
    box-shadow: ;
}
.dslc-info-box-image-inner .dslc-icon {
    tab: Icon;
    color: #ffffff;
    font-size: 31px;
}
.dslc-info-box-image-alt-inner {
    tab: Alt inner;
    text-align: center;
}
.dslc-info-box-image-alt-inner img {
    tab: Alt inner;
    border: 0px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
}
.dslc-info-box-title {
    tab: Title;
    text-align: inherit;
    margin-bottom: 21px;
}
.dslc-info-box-title h4 {
    tab: Title;
    label: h4;
    color: #3d3d3d;
    font-size: 17px;
    font-weight: 800;
    font-family: Lato;
    letter-spacing: 0px;
    line-height: 17px;
}
.dslc-info-box-content {
    tab: Content;
    text-align: inherit;
}
.dslc-info-box-content,
.dslc-info-box-content p {
    tab: Content;
    label: P, content;
    font-size: 14px;
    font-weight: 400;
    font-family: Lato;
    line-height: 23px;
    margin-bottom: 28px;
}
.dslc-info-box-button a {
    tab: button;
    label: a;
    border: 0px solid #d8d8d8;
    border-radius: 3px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 800;
    font-family: Open Sans;
    letter-spacing: 0px;
    padding: 13px 16px;
}
.dslc-info-box-button a:hover {
    tab: button;
    label: a:hover;
    color: #ffffff;
}
.dslc-info-box-button {
    tab: button;
    margin-top: 0px;
    margin-right: 0px;
}
.dslc-info-box-button a .dslc-icon {
    tab: button;
    label: icon;
    color: #b0c8eb;
    margin-right: 5px;
}
.dslc-info-box-button a.dslc-primary {
    tab: Button;
    label: Primary;
    box-shadow: ;
}
.dslc-info-box-button a.dslc-primary:hover {
    tab: Button;
    label: Primary:hover;
    box-shadow: ;
}
.dslc-info-box-button a.dslc-secondary {
    tab: secondary button;
    border: 0px solid #d8d8d8;
    border-radius: 3px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 800;
    font-family: Open Sans;
    letter-spacing: 0px;
    margin-left: 5px;
    margin-top: 0px;
    padding: 13px 16px;
}
.dslc-info-box-button a.dslc-secondary:hover {
    tab: secondary button;
    label: hover;
    color: #ffffff;
}
.dslc-info-box-button a.dslc-secondary .dslc-icon {
    tab: secondary button;
    color: #b0c8eb;
    margin-right: 5px;
}
.dslc-info-box-button a.dslc-secondary:hover .dslc-icon{
    tab: secondary button;
    label: icon:hover;
    color:;
}
.dslc-info-box-button a.dslc-secondary {
    tab: secondary button;
    box-shadow:;
}
.dslc-info-box-button a.dslc-secondary:hover {
    tab: secondary button;
    label: :hover;
    box-shadow:;
}