/* Iris Color Picker*/

/* Make Color Picker Float In Popup */
.dslca-module-edit-option-color .wp-picker-holder {
	/*display: none;*/
	position: fixed;
	margin-top: -305px;
	z-index: 1;
}

body .dslca-module-edit-option-color input[type="text"].dslca-module-edit-field-colorpicker {
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7),0px 0px 7px rgba(0, 0, 0, 0.28),4px 3px 6px rgba(0, 0, 0, 0.1);
	padding: 0;
	line-height: 31px;
	text-align: center;
	font-size: 14px;
}

/* Remove the default color button */
/*.dslca-module-edit-option-color .wp-color-result,*/
.dslca-module-edit-option-color .wp-picker-clear {
	display: none;
}

.dslca-module-edit-option-color .wp-color-result {
    position: absolute;
    top: 53px;
    z-index: 2;
    right: 10px;
    height: 33px;
    left: 16px;
    opacity: 0;
}

/* Remove Imput Styling by the Color Picker */
.dslca-module-edit-option-color .wp-picker-container input[type="text"].wp-color-picker {
	width: 100%!important;
	font-family: inherit;
	margin: inherit;
}

.dslca-module-edit-option-color  .iris-picker.iris-border {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.dslca-colorpicker-apply {
	background: #f1f1f1;
	border-radius: 0 0 3px 3px;
	color: #444;
	cursor: pointer;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 600;
	line-height: 1;
	padding: 10px 0;
	text-decoration: none;
	z-index: 1;
	position: absolute;
	bottom: -36px;
	left: -1px;
	width: 100%;
	display: block;
	border: 1px solid #FFFFFF;
}