/* Iris Color Picker*/

/* Make Color Picker Float In Popup */
.dslca-modules-section-edit-option .wp-picker-holder,
.dslca-module-edit-option-color .wp-picker-holder,
.dslca-module-edit-option-box-shadow-single .wp-picker-holder,
.dslca-module-edit-option-text-shadow-single .wp-picker-holder {
	/*display: none;*/
	position: fixed;
	margin-top: -315px;
	z-index: 1;
}

body .dslca-modules-section-edit-option input[type="text"].dslca-modules-section-edit-field-colorpicker,
body .dslca-module-edit-option-color input[type="text"].dslca-module-edit-field-colorpicker,
body .dslca-module-edit-option-box-shadow-single input[type="text"].dslca-module-edit-option-box-shadow-color,
body .dslca-module-edit-option-text-shadow-single input[type="text"].dslca-module-edit-option-text-shadow-color {
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7),0px 0px 7px rgba(0, 0, 0, 0.28),4px 3px 6px rgba(0, 0, 0, 0.1);
	padding: 0;
	line-height: 31px;
	text-align: center;
	font-size: 14px;
	min-height: 33px; /* Issue 350 - https://github.com/live-composer/live-composer-page-builder/issues/350 */
}

/* Remove the default color button */
/*.dslca-module-edit-option-color .wp-color-result,*/
.dslca-modules-section-edit-option .wp-picker-clear,
.dslca-module-edit-option-color .wp-picker-clear,
.dslca-module-edit-option-box-shadow-single .wp-picker-clear,
.dslca-module-edit-option-text-shadow-single .wp-picker-clear {
	display: none;
}

.dslca-modules-section-edit-option .wp-color-result,
.dslca-module-edit-option-color .wp-color-result,
.dslca-module-edit-option-box-shadow-single .wp-color-result,
.dslca-module-edit-option-text-shadow-single .wp-color-result {
    position: absolute !important;
    top: 53px;
    z-index: 2;
    right: 10px;
    height: 33px;
    left: 16px;
    opacity: 0;
}

/* Remove Imput Styling by the Color Picker */
.dslca-modules-section-edit-option .wp-picker-container input[type="text"].wp-color-picker,
.dslca-module-edit-option-color .wp-picker-container input[type="text"].wp-color-picker {
	width: 100%!important;
	font-family: inherit;
	margin: inherit;
}

.dslca-module-edit-option-box-shadow-single .wp-picker-container input[type="text"].wp-color-picker,
.dslca-module-edit-option-text-shadow-single .wp-picker-container input[type="text"].wp-color-picker {
	width: 100px;
	font-family: 'Open Sans', sans-serif;
}

.wp-picker-open + .wp-picker-input-wrap {
	vertical-align: middle!important;
}

.dslca-modules-section-edit-option .iris-picker.iris-border,
.dslca-module-edit-option-color .iris-picker.iris-border,
.dslca-module-edit-option-box-shadow-single .iris-picker.iris-border  {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.dslca-colorpicker-apply {
	background: #f1f1f1;
	border-radius: 0 0 3px 3px;
	color: #444;
	cursor: pointer;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 600;
	line-height: 1;
	padding: 10px 0;
	text-decoration: none;
	z-index: 1;
	position: absolute;
	bottom: -36px;
	left: -1px;
	width: 100%;
	display: block;
	border: 1px solid #FFFFFF;
}

/* Last color in palette is transparent */
.dslca-modules-section-edit-option .iris-picker .iris-palette:last-child,
.dslca-module-edit-option-color .iris-picker .iris-palette:last-child,
.dslca-module-edit-option-box-shadow-single .iris-picker .iris-palette:last-child {
	position: relative;
	background: linear-gradient(rgba(255,255,255,.4) 0%, rgba(255,255,255,.6) 100%), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==")!important;
}

.dslca-modules-section-edit-option .iris-picker .iris-palette:last-child:before,
.dslca-module-edit-option-color .iris-picker .iris-palette:last-child:before,
.dslca-module-edit-option-box-shadow-single .iris-picker .iris-palette:last-child:before {
	content: '×';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	text-align: center;
	vertical-align: middle;
	color: red;
	font-size: 20px;
	line-height: 27px;
}

.wp-picker-container .wp-picker-input-wrap.hidden {
	display: block;
}

.wp-picker-input-wrap label {
	width: 100%;
}

.wp-picker-container .wp-picker-input-wrap.hidden label {
	width: 100%;
}

.wp-picker-open + .wp-picker-input-wrap {
	width: 100%;
}

.dslca-module-edit-option-box-shadow-single.dslca-color-option .wp-picker-container {
	display: inline-block;
	vertical-align: middle;
}

